ol{
    /*No aplicar Viñeta*/
    list-style: none;
    /*Se reinicia el valor a cero en cada nueva lista*/
    counter-reset: contador;
}
ol li{
    /*Se incrementara el valor del contador en 1*/
    counter-increment: contador;
}
/*Mostrar algo antes de que se muestre la lista*/
/*before=antes*/
ol li::before{
    /*Agrega un contenido Curso antes de la lista*/
    /*nombre de la variable = contador */
    content: 'Curso ' counter(contador) ') ';
    /*Cambiar el color de Curso 1)*/
    color: #ff6f00;
}
/*Mostrar algo despues de que se muestre la lista*/
/*Despues*/
ol li::after{
    content: '.';
}